.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.hidden {
    display: none;
}

#repo {
    left: 48%;
    position: fixed;
    bottom: 0;
}