@history-width: 500px;
@user-width: 150px;

body {
  padding-top: 25px;
}

#chat {
  margin-top: 20px;
  height: 350px;
  border: 1px solid @secondary;
  box-shadow: 1px 1px 5px -2px inset;
  //top: 25%;
  //position: absolute;
  //left: 33%;
  width: @history-width + @user-width + 5;

  #history {
    width: @history-width;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
  }

  #users {
    float: right;
    height: 100%;
    width: @user-width;
    border-left: 1px solid @secondary;
  }
}

#purpose {
  margin-top: 25px;
  padding: 5px 10px;
  background-color: @tertiary;
  color: @text;
  box-shadow: 0px 0px 9px 2px;
  cursor: pointer;
}